openai
openai-agents
fredapi
yfinance
pandas
numpy
matplotlib
seaborn
scipy
cvxpy
arch
mpmath
tabulate
requests
pydantic
logging
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability